body {
  background-color: #fff0db;
  padding: 7.5px;
}

h1 {
  text-align: center;
  padding: 20px;
  color: #303030;
  font-size: 45px;
}

#word-name {
  text-align: center;
  font-size: 30px;
  color: #303030;
}

.form {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #ffc193;
  border:2px solid grey;
  border-radius: 5px;
  padding: 10px;
}

button:hover {
  background-color: #f4a582;
}

input {
  padding: 10px;
}

input:focus {
  outline: none; /* removes default blue ring around input box when clicked on */
  border: 2px solid #f4a582;
}

#definition-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.part-of-speech {
  border: 3px solid #d9b3a0;
  border-radius: 5px;
  background-color: #ffeae0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin: 10px;
}

.part-of-speech h2 {
  text-align: center;
  color: #303030;
}

#example-box {
  border: 3px solid #a9b6c1;
  border-radius: 5px;
  background-color: #e3e8ee;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

#example-box h2 {
  color: #303030;
}

#example-box ul {
  padding: 15px;
}

.part-of-speech ul {
  margin: 25px;
  padding: 10px;
}

#audio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

li {
  color: #505050;
}

#error-message {
  text-align: center;
  color: red;
}

#phonetics {
  margin: 15px;
  font-size: 25px;
}
